In [4]:
import numpy as np
import pandas as pd
import os

In [5]:
os.getcwd()

'F:\\repos\\CodingChallange\\glassdoor'

In [8]:
df=pd.read_csv("ozan_p_pApply_intern_challenge_03_20_min.csv", encoding='utf8')

In [23]:
df.dtypes

title_proximity_tfidf          float64
description_proximity_tfidf    float64
main_query_tfidf               float64
query_jl_score                 float64
query_title_score              float64
city_match                     float64
job_age_days                   float64
apply                            int64
search_date_pacific             object
u_id                            object
mgoc_id                          int64
dtype: object

In [12]:
df.head()

,title_proximity_tfidf,description_proximity_tfidf,main_query_tfidf,query_jl_score,query_title_score,city_match,job_age_days,apply,search_date_pacific,u_id,mgoc_id
0,0.000000,0.198377,0.000000,0.022545,0.014706,1.0,16.0,0,2018-01-24,5f42afe6-e7d0-4822-b95e-57ae0682fa24,10148
1,0.000000,0.000000,9.308552,0.005782,0.000003,-1.0,0.0,0,2018-01-24,5f4c930d-fb3c-4b90-b121-b0fdc3dce56d,10016
2,0.000000,0.000000,9.308552,0.005782,0.000003,-1.0,0.0,0,2018-01-24,5f4c930d-fb3c-4b90-b121-b0fdc3dce56d,10016
3,11.992127,0.118237,3.462835,0.017337,0.050844,0.0,23.0,0,2018-01-25,5f562c30-b0ad-45ec-9427-145624e0f34b,10039
4,8.298727,0.000000,0.000000,0.019160,0.018750,1.0,0.0,0,2018-01-23,5f5991c5-253f-4d30-aad1-2abfe9d50de3,-1

In [24]:
df.search_date_pacific=pd.to_datetime(df.search_date_pacific)
df.dtypes

title_proximity_tfidf                 float64
description_proximity_tfidf           float64
main_query_tfidf                      float64
query_jl_score                        float64
query_title_score                     float64
city_match                            float64
job_age_days                          float64
apply                                   int64
search_date_pacific            datetime64[ns]
u_id                                   object
mgoc_id                                 int64
dtype: object

In [25]:
df.shape

(1200890, 11)

In [34]:
df.groupby(by="search_date_pacific").size()

search_date_pacific
2018-01-21    168163
2018-01-22     16016
2018-01-23    242371
2018-01-24    250276
2018-01-25    229836
2018-01-26    177702
2018-01-27    116526
dtype: int64

In [36]:
min(df.search_date_pacific)

Timestamp('2018-01-21 00:00:00')

In [37]:
df_train=df[df.search_date_pacific<='2018-01-26']

In [38]:
df_test=df[df.search_date_pacific=='2018-01-27']

In [39]:
df_train.shape[0]+df_test.shape[0]

1200890